body {
    margin: 0;
    min-height: 100svh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    align-items: center;
    background: #1f2937;
    color: #f9faf9;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.container-01 img {
    height: 200px;
    width: 400px;
    border-radius: 30px;
}

.content {
    flex: display;
    flex-direction: column;
}

.container-01 {
    padding-top: 40px;
    background: #1f2937;
    height: 300px;
    display: flex;
    justify-content: center;
}

.block1 {
    width: 33%;
    padding-right: 40px;
}

.title {
    font-size: 48px;
    weight: 900;
    color: #f9faf8;
    margin: 0;
}

button {
    background-color: #3882f6;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin: 5px;
}

.container-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 36px;
    color: #1f2937;
    weight: 900;
}

.container-02 img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

.block {
    width: 170px;
    margin: 20px;
}

.images {
    display: flex;
    justify-content: center;
}

.container-03 {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    weight: 300;
    color:#1f2937;
    max-width: 500px;
    margin-bottom: 0;
}

#Ianspace {
    max-width: 500px;
}

#Ian {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.container-04 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.small-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 130px;
    min-width: 800px;
    background:#3882f6;
    border-radius: 10px;
    color:#f9faf9
}

#action {
    weight: 900;
    font-size: 24px;
    
}

.small-cont button {
    border-color: white;
    color:#f9faf9
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    padding: 16px;
    color: #e5e7eb;
}